html {
     scroll-behavior: smooth;
     scrollbar-color: rgba(179, 29, 29, 0.98) rgba(15, 23, 42, 0.18);
}

html,
body {
     margin: 0;
     padding: 0;
     font-family: system-ui, -apple-system, 'Segoe UI', Robotto, Arial, sans-serif;
     color: #ffffff;
     background-color: #0b1021;
}

* {
     box-sizing: border-box;
}

.dm-serif-text-regular {
     font-family: "DM Serif Text", serif;
     font-weight: 400;
     font-style: normal;
}

.dm-serif-text-regular-italic {
     font-family: "DM Serif Text", serif;
     font-weight: 400;
     font-style: italic;
}

.oneFive {
     font-size: 1.5rem;
}

.fullheight {
     height: 100vh;
}

:root {
     --nav-height: 64px;
     --brand: #ffffff;
     --link: #ffffff;
     --link-muted: #e5e7eb;
     --solid-bg: rgba(15, 23, 42, 0.25);
     --blur-bg: rgba(15, 23, 42, 0.25);
     --border: rgba(255, 255, 255, 0.18);
     --shadow: 0 6px 20px rgba(0, 0, 0, 0.22);
}

@keyframes gradient-pan {
     0% {
          background-position: 0% 50% center;
     }

     50% {
          background-position: 100% 50% center;
     }

     100% {
          background-position: 0% 50% center;
     }
}

@keyframes dropIn {
     0% {
          opacity: 0;
          transform: translateY(-50px);
          color: red
     }

     60% {
          opacity: 1;
          transform: translateY(20px);
          color: green
     }

     100% {
          opacity: 1;
          transform: translateY(0);
          color: smokewhite;
     }
}

@keyframes dropfromBottom {
     0% {
          opacity: 0;
          transform: translateY(50px);
     }

     60% {
          opacity: 1;
          transform: translateY(-20px);
          /* slight overshoot for natural feel */
     }

     100% {
          opacity: 1;
          transform: translateY(0);
     }
}