#contact{
    background-color: #A57C65;
    font-family: "Delius", cursive;
    font-size: 1.4 rem;
}
#contact a{
 background: darkred;
    padding: 20px;
    border:1px solid rgb(156, 62, 62);
    border-radius: 5px;
}