#about{
  
         /* background: linear-gradient(130deg,#f1d8ca, #503A2F);    */
         background-color: rgba(211, 209, 209, 0.6)
}

.about-scroll {
  height: 80vh;            /* makes it scrollable */
  overflow-y: auto;
  padding-right: 1rem;
}

#aboutNav .nav-link {
  color: #555;
}

#aboutNav .nav-link.active {
  background-color: #f5c16c;
  color: #000;
  font-weight: 600;
}
.scrollable-content{
    max-height: 80vh;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 8px;
    text-align: left;    
}
.paragraph{
    margin-bottom: 2rem;
}