#contact{
    background-color: #e3eeff;

    background-image: url('../img/3.png');

    /* This ensures the image covers the entire screen */
    background-size: cover;

    /* This pins the image to the right side */
    background-position: right center;

    /* This prevents the image from repeating if the page is long */
    background-repeat: no-repeat;

    /* Keeps the background fixed so it doesn't move when you scroll */
    background-attachment: fixed;

    margin: 0;
    padding: 0;
    color: white;
    /* Assuming white text for the dark night theme */
    opacity: 0.85;
}
.send-message{
display: inline-block;
  padding: 10px 20px;
  background-color: #111010;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-weight: bolder;
  z-index: 15;
}